{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if not g.user %}
    <nav class="auth-nav">
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Login</a>
    </nav>

    <div class="auth-main">
      <h1>Login</h1>
      <ul>
        {% for message in get_flashed_messages() %}
            <li class="error">{{ message }}</li>
        {% endfor %}
      </ul>
      
      <form method="post" class="auth-form">
        <label for="username">Username:</label>
        <input class="auth-input" name="username" id="login-username" required>

        <label for="password">Password:</label>
        <input class="auth-input" type="password" name="password" id="login-password" required>
        <button class="btn main-btn shadow-none">Login</button>
      </form>
      <a href="{{ url_for('auth.security_question') }}">Forgot Password?</a>
    </div>
  {% else %}
    <a href="{{ url_for('my_calendar.index') }}">Today</a>
  {% endif %}
  
{% endblock %}