{% extends 'auth/auth_base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  <label for="username">Username:</label>
  <input class="form-input" name="username" id="register-username" autocomplete="off" required>

  <label for="register-password1">Password:</label>
  <input class="form-input" type="password" name="password1" id="register-password1" required>

  <label for="register-password2">Confirm Password:</label>
  <input class="form-input" type="password" name="password2" id="register-password2">

  <label for="security-question">What was your second pet's name?</label>
  <input class="form-input" name="security-question" id="security-question" autocomplete="off" required>

{% endblock %}