
.main-top-nav-holder {
  background: var(--primary-300);
}


/* rest of the styling is in the style.css file with the auth-nav  */
.main-top-nav {
  justify-content: space-between !important;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.logout {
  color: white;
  font-size: 1rem;
}

.logout:hover {
  color: white;
}

.month-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.arrow-btn {
  background: var(--secondary-700);
  box-shadow: var(--box-shadow-1) !important;
}

.arrow-btn:hover {
  box-shadow: var(--box-shadow-2) !important;
}

.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

#add-form > div {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.add-input {
  width: 13em;
}

.large-input {
  height: 5rem !important;
}
