@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
:root {
  --primary-50:  #FCE4EC;
  --primary-100:  #F8BBD0;
  --primary-200:  #F48FB1;
  --primary-300:  #F06292;
  --primary-400:  #EC407A;
  --primary-500:  #E91E63;
  --primary-600:  #D81B60;
  --primary-700:  #C2185B;
  --primary-800:  #AD1457;
  --primary-900:  #880E4F;
  --primary-A100: #FF80AB;
  --primary-A200: #FF4081;
  --primary-A400: #F50057;
  --primary-A700: #C51162;


  
  --secondary-50: #FFFDE7;
  --secondary-100: #FFF9C4;
  --secondary-200: #FFF59D;
  --secondary-300: #FFF176;
  --secondary-400: #FFEE58;
  --secondary-500: #FFEB3B;
  --secondary-600: #FDD835;
  --secondary-700: #FBC02D;
  --secondary-800: #F9A825;
  --secondary-900: #F57F17;
  --secondary-A100: #FFFF8D;
  --secondary-A200: #FFFF00;
  --secondary-A400: #FFEA00;
  --secondary-A700: #FFD600;

  --gray: #90A4AE;

  --link-normal: #0277BD;
  --link-hover: #00B0FF;

  --error: #B00020;
  --success: var(--bs-success);

  --box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}


body {
  font-family: "Poppins", "Roboto", sans-serif;
  background: #EEEEEE;
}

h1, h2 {
  font-family: "Roboto", "Poppins", sans-serif;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 150ms;
}


.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-nav, .main-top-nav {
  background: var(--primary-300);
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.auth-nav > a {
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 10px;
}

.auth-form > label {
  text-align: center;
  font-size: 1.2rem;
}

.form-input {
  height: 2.3rem;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 0.2rem;
  transition-property: border;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  margin-bottom: 10px;
}

.form-input:focus {
  border: 3px solid var(--primary-200);
}

.auth-form > button {
  margin-top: 15px;
  margin-bottom: 10px;
}

.main-btn {
  height: 2.5em;
  transition-property: all;
  background: var(--secondary-700);
}

.main-btn:hover {
  background: var(--secondary-A700);
}

.main-btn:focus {
  border: 2px solid var(--secondary-600);
}

.forgot-password {
  color: var(--link-normal);
}

.forgot-password:hover {
  color: var(--link-hover);
}

