{% extends 'base.html' %}

{% block title %}Month View{% endblock %}


{% block content %}
    <div class="month-nav">
      <a href="{{ prev_month_url }}">
        <button class="btn arrow-btn shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </button>
      </a>

      <h2>
        {{ str_month }}, {{ cal_year }}
      </h2>

      <a href="{{ next_month_url }}">
        <button class="btn arrow-btn shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </button>
      </a>    
    </div>
    <div id="month-view-main">
      {% for day in days_of_week %}
        {% if day == weekday_str %}
          <h2 class="day-of-week today">{{ day }}</h2>
        {% else %}
          <h2 class="day-of-week">{{ day }}</h2>
        {% endif %}
      {% endfor %}

      {% for date in dates_in_month %}
        <div class="cal-day rounded" id="{{ date.year }}-{{ date.month }}-{{ date.day }}" onclick="changeValue(this.id)">
          {% if date == today %}
            <p class="day-num today-date">{{ date.day }}</p>
          {% else %}
            <p class="day-num">{{ date.day }}</p>
          {% endif %}

          {% for item in items_in_month[date] %}
            <p class="item">{{ item.title }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div id="add-item-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>


        <form method="post" id="modal-add-form">
          <div>
            <label for="modal-add-title">Title:</label>
            <input class="add-input form-input" type="text" name="modal-add-title" id="modal-add-title" autocomplete="off">
          </div>

          <div>
            <label for="modal-add-body">Description:</label>
            <textarea class="form-input add-input" type="text" name='modal-add-body' id="modal-add-body"></textarea>
          </div>

          <div>
            <label for="add-date">Date:</label>
            <input class="add-input form-input" type="date" name="modal-add-due" id="modal-add-due">
          </div>
          <button class="btn main-btn shadow-none">Add Item</button>
      </form>


      </div>
  </div>

{% endblock %}
